WCFSample/Client/Service References/MyService/MyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8072/MyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSample" />
  <xs:element name="MyOperation1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyOperation1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyOperation1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyOperation2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSample" minOccurs="0" name="dataContractValue" nillable="true" type="q1:DataContract1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyOperation2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyOperation2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>