WCFSample/Client/Service References/MyService/MyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSample" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataContract1">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataContract1" nillable="true" type="tns:DataContract1" />
</xs:schema>